@import './variables';

.services {
	margin-top: 10.21vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&-heading {
		& > h2 {
			text-transform: uppercase;
			@include secondary-heading;
		}
		& > h1 {
			display: flex;
			flex-direction: column;
			font-size: 3.05vw;
			font-weight: 700;
			margin-bottom: 2.52vw;
		}

		& > a {
			color: #5e5d5d;
			font-size: 1.15vw;
			font-weight: 600;
			cursor: pointer;
			text-transform: uppercase;
		}
	}

	&-details {
		display: flex;
		flex-wrap: wrap;
		margin: 0 11.05vw;
		margin-top: 8.84vw;

		& > .part {
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 20vw;
			margin-right: 5vw;
			margin-bottom: 9.57vw;
			padding: 1vw;
			box-sizing: content-box;
			border: 1px solid transparent;
			transition: all 200ms;

			&:hover {
				//border: 1px solid #888;
				// border-radius: 1vw;
				box-shadow: 0px 2vw 100px rgb(230, 227, 227);
			}

			&:nth-of-type(3),
			&:nth-of-type(6) {
				margin-right: 0vw;
			}

			& > img {
				height: 10.63vw;
				margin-bottom: 1.1vw;
			}

			& > h3 {
				text-transform: uppercase;
				font-weight: 700;
				font-size: 1.82vw;
				margin-bottom: 1.26vw;
			}

			& > p {
				font-size: 1.05vw;
				font-weight: 500;
				color: #888;
			}
		}
	}
}
